<!-- Note:  All names and proprietary information have been redacted. -->

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WeCruit - Find Candidates within Your Company</title>

    <!-- INTERNAL CSS FOR EXPEDIENCY -->

    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">


  
    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/custom.css" type="text/css" rel="stylesheet">




  </head>

  <body id="page-top">



    <!-- TITLE (TOP, FULL-WIDTH) -->
    <div class="container" style="text-align:center; padding-top: 3rem;
    padding-bottom: 4rem;">
      <div>
        <h1>WeCruit</h1>
        <hr class="break-line">
<!--         <div class="break-line text-center"></div>
 -->      </div>
    </div>



    <!-- DOUBLE COLUMN MIDDLE, PROMPT + INPUT -->
    <div class="container" style="text-align:center; padding-top: 5rem;
    padding-bottom: 5rem;">
      <div class="row">
        <!-- PROMPT (LEFT) -->
        <div class="col-5">
          <h2  style="padding-top: 4rem; padding-left: 4rem; padding-right: 6rem;">Who can we help you find?</h2>
        </div>
        <div class="col-1 center-block">
          <div class="container text-center" style="margin-left: -10rem;">               
            <img src="static/img/logo_simple.png" alt="placeholder-visualization" style="max-height: 15rem"> 
          </div>
        </div>
        <!-- INPUT (RIGHT) -->
        <div class="col-6 text-center">
          <form action="/results" method="post">
            <div class="container">
              <div class="form-group" style="padding-left: 12rem;">
                <input type="text" class="form-control input-landing text-center" id="job_title" placeholder="Enter Job Title" name="job_title" style="height: 40px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                <input type="text" class="form-control input-landing text-center tight-vertical2" id="description" placeholder="Enter Job Description" name="description" style="height: 200px; border-radius: 0px;">
              </div>
              <div class="container text-center tight-vertical" style="padding-left: 12rem;">
                <button type="submit" class="btn btn-hover input-landing" value="submit" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>



    <!-- DESCRIPTIVE PARAGRAPH, BOTTOM -->
    <div class="container" style="padding-top: 7.5rem;
    padding-bottom: 2rem; padding-left: 18rem; padding-right: 18rem; font-family:karla;">
      <div>
        <h6 style="text-align:center;">WeCruit enables talent acquisition to find qualified candidates already within Your Company, to be considered for open positions before extending a search externally.</h6> 
      </h4>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/freelancer.min.js"></script>

  </body>

</html>